{% extends "app/layout.html" %}

{% load staticfiles %}

{% block content %}

<style>
    h2 {text-align: center;}
</style>

<h2>{{ title }}</h2>

<b>Вы находитесь на сайте школы №7 им. В. Н. Пушкарёва.</b>
<br/>
<b>Полное наименование:</b>
<p>Муниципальное бюджетное общеобразовательное учреждение "Средняя школа №7 им. В.Н.Пушкарева" муниципального образования "Островский район" </p>

<b>Сокращенное наименование:</b>
<p>Средняя школа №7 им. В.Н.Пушкарева</p>

<b>Краткая информация:</b>
<p>Дата образования - 1993 г. вновь открывшаяся Средняя школа №7 города Острова. 2006 г. 
    Присвоено имя В.Н. Пушкарёва. МОУ «Средняя общеобразовательная школа №7 им. В.Н. Пушкарёва» муниципального образования «Островский район» С 2006г. обобщив накопленный опыт, школа участвует в инновационной деятельности по моделированию и построению образовательной системы Школы самореализации учащихся. 
    В 2010 году были подведены итоги деятельности школьного сообщества, отмечена положительная динамика развития, самореализации учащихся школы, принято решение продолжить работу по развитию образовательной системы Школа самореализации учащихся. 
    Сегодня Школа самореализации учащихся - это учебное заведение, в котором целью является содействие развитию социально успешного человека, отчетливо представляющего свои возможности и умело реализующего их в индивидуальной и совместной деятельности. 
    Школа самореализации учащихся – это учебное заведение, в котором высоко ценятся инициатива, самодеятельность, творчество, нравственные формы и способы самореализации и самоутверждения. 
</p>

<b>Руководитель:</b>
<p>Директор - Панчук Лилия Ароновна </p>

<b>График работы:</b>
<p>7.30 - 20.00</p>

<div class="col-md-4" id="IndexCol">
        <img src="{% static 'app/images/school1.jpg'%}" width="350" height="200" alt="Первое фото" />
</div>

<div class="col-md-4" id="IndexCol">
        <img src="{% static 'app/images/school2.jpg'%}" width="350" height="200" alt="Второе фото" />
</div>

<div class="col-md-4" id="IndexCol">
        <img src="{% static 'app/images/school3.jpg'%}" width="350" height="200" alt="Третье фото" />
</div>

{% endblock %}
