<!DOCTYPE html>

{% extends "app/layout.html" %}

{% load staticfiles %}

{% block content %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>{{ title }}</h2>

    <div class="row">
    <div class="col-md-4">
        <a href ="https://www.google.com/" target="_blank"> <img src="{% static 'app/content/google.png' %}" alt="Logo 1"/></a>
    </div>

    <div class="col-md-4">
        <a href ="https://www.yandex.com/" target="_blank"> <img src="{% static 'app/content/ya.png' %}" alt="Logo 1"/></a>
    </div>

    <div class="col-md-4">
        <a href ="https://pln-pskov.ru/" target="_blank"> <img src="{% static 'app/content/pln.png' %}" alt="Logo 1"/></a>
    </div>
</div>
</body>
</html>

{% endblock %}