{% extends 'app/layout.html' %}
{% load static %}

{% block content %}

<p id="backbuttton"><a href="{% url 'account' %}"> Назад </a></p>

<table class="table table-striped">
    <h3 id="Centered"> {{myorder.order}} </h3>
    <hr>
    <tr>
        <th>Название товара</th>
        <th>Цена</th> 
        <th>Количество</th>
        <th></th>
    </tr>
    <tr>
        <td><p> {{myorder.product}} <p></td>
        <td><p>{{myorder.price}}</p></td>
        <td><p>{{myorder.quantity}}</p></td>
    
        <td><form action="" method="get">
            <button class = "btn btn-default" name="DeleteButton" value="{{myorder.id}}">Удалить заказ</button>
        </form></td>
    </tr>
</table>
{% endblock %}